<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    </head>

    <body>
        <div class="container tm-40">
            <div class="row text-center">
                <h1 class="text-3xl font-bold underline">Page to show list of cities</h1>
            </div>
            <div class="row tm-20">
                <table class="table table-striped align-middle text-center">
                    <thead class="table-primary">
                        <th>City ID</th>
                        <th>City Name</th>
                        <th>Load Weather</th>
                        <th>City Weather</th>
                        <th>View City Page</th>
                    </thead>
                
                    {% for city in cities %}
                        <tr>
                            <td>{{ city['id'] }}</td>
                            <td>{{ city['name'] }}</td>
                            <td>
                                <button class="btn btn-primary" value="{{ city['id'] }}" onclick="loadCityWeather({{ city['id'] }})">Click to load weather of {{ city['name'] }}</button>
                            </td>
                            <td id="city-{{ city['id'] }}-weather">
                                <span class="d-block" id="city-{{ city['id'] }}-weather-condition"></span>
                                <span class="d-block" id="city-{{ city['id'] }}-weather-temperature"></span>
                                <span class="d-block" id="city-{{ city['id'] }}-weather-feelslike"></span>
                                <span class="d-block" id="city-{{ city['id'] }}-weather-humidity"></span>
                                <span class="d-block" id="city-{{ city['id'] }}-weather-wind"></span>
                            </td>
                            <td>
                                <a class="btn btn-success" href="{{ url_for('loadCity', id = city['id']) }}">View City Page</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="row tm-60">
                <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 text-center">
                    <a href="{{ url_for('homePage') }}" class="btn btn-primary">Back to home page</a>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function loadCityWeather(id) {
                let weatherData = fetch(`/api/weather/${id}`, {
                    method: "GET",
                })
                .then(response => response.json())
                .then(data => data.data.weather)
                .then(data => {
                    document.getElementById(`city-${id}-weather-condition`).innerText = `Condition: ${data.condition}`;
                    document.getElementById(`city-${id}-weather-temperature`).innerText = `Temperature: ${data.temperature}`;
                    document.getElementById(`city-${id}-weather-feelslike`).innerText = `Feels Like: ${data.feelsLike}`;
                    document.getElementById(`city-${id}-weather-humidity`).innerText = `Humidity: ${data.humidity}`;
                    document.getElementById(`city-${id}-weather-wind`).innerText = `Wind: ${data.wind}`;
                })
            }
        </script>
    </body>
</html>