<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>

<body>
    <div class="container tm-40">
        <div class="row text-center">
            <h1 class="text-3xl font-bold underline">Showing weather of <b>{{ city['name'] }}</b></h1>
        </div>
        <div class="row tm-20">
            <table class="table table-striped align-middle text-center">
                <thead class="table-primary">
                    <th>Condition</th>
                    <th>Temperature</th>
                    <th>Feels Like</th>
                    <th>Humidity</th>
                    <th>Wind</th>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ weather['condition'] }}</td>
                        <td>{{ weather['temperature'] }}</td>
                        <td>{{ weather['feelsLike'] }}</td>
                        <td>{{ weather['humidity'] }}</td>
                        <td>{{ weather['wind'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row tm-60">
            <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 text-center">
                <a href="{{ url_for('citiesListPage') }}" class="btn btn-primary">Back to all cities</a>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>