<html lang='en'>

    <body style="background:#f9f9f9;font-family:Arial;font-size:16px;padding:20px 0px 10px 0px;">
        <div style="border-radius:20px 20px 0px 0px;margin:10px auto 0px auto;background:#ffffff;padding:20px 60px 60px 60px;min-width:280px;max-width:600px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
            <div style="text-align:center;margin-bottom:40px;">
                <a href="https://www.crownstack.com" title="Visit Crownstack Website" target="_blank">
                    <img src="https://www.crownstack.com/cs-logo-with-tagline.jpg" alt="Crownstack - Building Sustainable Solutions" style="height:60px;width:auto;">
                </a>
            </div>

            <div>
                <div style="font-size:16px;color:#555;margin-top:40px;">
                    <p>Hi {{ clientName }},</p>
                    <p>We recently published a blog that might connect well with some of the areas you're focusing on, so we thought of sharing it with you.

                    <p style="border-top:1px solid #aaa;padding-top:20px;text-align:center;">
                        <a style="text-decoration:underline;color:#ED2967;font-weight:700;font-size:18px;" href="{{ blogUrl }}" target="_blank" title="Read this blog">{{ blogTitle }}</a>
                    </p>
                    <p style="color:black;text-align:justify;">{{ blogDescription }}</p>
                    <p style="border-bottom:1px solid #aaa;padding-bottom:30px;text-align:center;padding-top:15px;">
                        <a href="{{ blogUrl }}" target="_blank" style="text-decoration:none;font-weight:700;background-color:#ED2967;color:white;padding:12px 16px;border-radius:8px;">Read the full blog here <img style="position:relative;top:2px;" src="https://img.icons8.com/?size=14&id=39790&format=png&color=ffffff"></a>
                    </p>

                    <p>Would love to hear what you think if you get a chance to read it. As always, we're just an email or call away if you'd like to discuss anything else we can support your business with.</p>
                </div>
            </div>

        </div>

        <div style="background:#f2f2f2;border-radius:0px 0px 20px 20px;margin:0px auto 40px auto;padding:15px 60px;min-width:280px;max-width:600px;box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 29px 0px;">
            <div style="font-size:14px;color:#444;">
                <p style="margin-top:30px;">Got questions? Need something? We're all ears! <a style="text-decoration:underline;color:#ED2967;font-weight:700;" href="https://www.crownstack.com/contact" target="_blank" title="Click to get in touch with us">Get in touch</a> with our team. Let's talk!</p>

                <p style="margin-top:30px;padding:20px 0px;">
                    <span style="float:left;">2025 © Crownstack</span>
                    <span style="float:right;">
                        <span style="display:inline;padding-left:10px;height:24px;width:24px;">
                            <a href="https://www.linkedin.com/company/crownstack" title="Visit LinkedIn" target="_blank" style="text-decoration:none;height:inherit;width:inherit;">
                                <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=1A1A1A" alt="LinkedIn" style="height:inherit;width:inherit;">
                            </a>
                        </span>

                        <span style="display:inline;padding-left:10px;height:24px;width:24px;">
                            <a href="https://github.com/crownstack" title="Visit Github" target="_blank" style="text-decoration:none;height:inherit;width:inherit;">
                                <img src="https://img.icons8.com/?size=100&id=RHLuYrY4GjUv&format=png&color=1A1A1A" alt="Github" style="height:inherit;width:inherit;">
                            </a>
                        </span>

                        <span style="display:inline;padding-left:10px;height:24px;width:24px;">
                            <a href="https://x.com/crownstack" title="Visit X (Formerly Twitter)" target="_blank" style="text-decoration:none;height:inherit;width:inherit;">
                                <img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=1A1A1A" alt="X (Formerly Twitter)" style="height:inherit;width:inherit;">
                            </a>
                        </span>
                    </span>
                </p>
            </div>
        </div>
    </body>
</html>